DISCORD_TOKEN=
MONGODB_URI=mongodb://localhost:27017/text_extractor_bot
MONGODB_DB=text_extractor_bot
OWNER_ID=656783724662226963
TEMP_API_URL=
GDRIVE_API_KEY=
BASE_QWEN_URL=https://chat.qwen.ai/api/v2
EMOJI_THEME=gold
SYNC_APPLICATION_EMOJIS=false
